{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}

<h1 class="text-center text-info">Liste des produits</h1>


{# Flash Message #}
{% for message in app.session.flashbag.get('success') %}
    <div class="alert alert-warning col-3" role="alert">
        {{ message }}
    </div>
{% endfor %}



  




<div class="container">

{# Afficher le button 'Nouveau produit' que pour le vendeur #}
  {% if is_granted('ROLE_ADMIN') %}
    <p class="text-right">
        <span><a href="{{ path('produit_new') }}" class="btn btn-success pr-3 pl-3 ">Nouveau Produit</a></span>
    </p>
  {% endif %}
  

  <div class="row">
    <div class="col-lg-12 mx-auto">

      <!-- List group-->
      <ul class="list-group shadow">

        {% for produit in produits %}
        <!-- list group item-->
        <li class="list-group-item">
          <!-- Custom content-->
          <div class="media align-items-lg-center flex-column flex-lg-row p-3">
            <div class="media-body order-2 order-lg-1">
              <h5 class="mt-0 font-weight-bold mb-2">{{ produit.titre }}</h5>
              <p class="font-italic text-muted mb-0 ">{{ produit.description }}</p>
              <div class="d-flex align-items-center justify-content-between mt-1">
                <h6 class="font-weight-bold my-2">{{ produit.prix }} Dhs</h6>
                <ul class="list-inline small">
                  <li class="list-inline-item m-0"><a href="{{ path('produit_show', {'id': produit.id }) }}" class="btn btn-outline-info pr-3 pl-3">Détails</a></li>
                  {% if is_granted('ROLE_ADMIN') %}
                  <li class="list-inline-item m-0"><a href="{{ path('produit_edit', {'id': produit.id }) }}" class="btn btn-outline-warning">Modifier</a></li>
                  <li class="list-inline-item m-0">
                      <form method="POST" action="{{ path('produit_delete', {'id': produit.id }) }}">
                          <input type="hidden" name="_method" value="DELETE">
                          <button class="btn btn-outline-danger" onclick="return confirm('Attention cet article sera supprimé!')">Supprimer</button>
                      </form>
                  </li>
                  {% endif %}
                  </ul>
              </div>
            </div><img src="{{ asset('uploads/images/' ~ produit.images) }}" alt="{{ produit.titre }}" alt="{{ produit.titre }}" width="200" class="ml-lg-5 order-1 order-lg-2">
          </div>
          <!-- End -->
        </li>
        <!-- End -->
        {% endfor %}


      </ul>
      <!-- End -->
    </div>
  </div>
</div>

{% endblock %}
